* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body
#root {
     height: 100%;
     width:  100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(35, 33, 33);
}

.notes{
display: flex; flex-wrap: wrap; gap: 10px; padding: 10px;

}

.note{
background-color: rgb(172, 167, 167); width: 200px; height: 200px; border-radius: 10px; padding: 10px; display: flex; flex-direction: column; justify-content: space-between;
}

.note-create-form{
display: flex; 
align-items: center;
gap: 10px;
justify-content: center;
max-width: 50%;
margin: 20px auto
}
.note-create-form input{
padding: 10px;
border-radius: 5px;
border: none;

}
.note-create-form button{
padding: 10px 20px;
border-radius: 5px;
border: none;
background-color: rgb(172, 167, 167);
cursor: pointer;

}

.note button{
padding: 10px 20px;
border-radius: 5px;
border: none;
background-color: rgb(213, 44, 44);
cursor: pointer;
margin-top: 10px;
}