* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
body
#root {
     height: 100%;
     width:  100%;
}

html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.notes{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.note{
  background-color: #494949;
  padding: 2rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
  
}